.header {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 5px 5px 5px;
   
}

h1, p {
    font-family: Helvetica;
    color: #117864 ;
}

.jumbotronDiv {
    background-color: coral;
}